table {
    padding: 5px;
}
table tr td {
    padding: 12px;
    border: solid 1px;
}


div.searchResult {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.searchResult:hover {
    border: 1px solid #777;
  }
  
  div.searchResult img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }